<div *ngIf="loading" class="container text-center my-5">
  <app-loading></app-loading>
  <!-- <p>Cargando datos...</p> -->
</div>


<div  *ngIf="!loading" class="contente-page animated fadeIn">

<div class="row">
  <div class="col-md-6">

    <div class="card" style="width: 335px;">

      <div class="thumb d-flex justify-content-center  align-items-center mt-4">

         <img class="" src="https://ara.pe/uploads/mediano-{{item.media_file}}" (load)="imagenCargada($event)" alt="Card image cap">
         <img *ngIf="!imgload" width="50px" height="50" class="m-5" src="assets/images/loading.gif" alt="Card image cap">
       
      </div>

      <div class="card-body text-center">
        <h5 class="card-title">{{item.post_title}}</h5>
        <p class="card-text">{{item.post_sub_title}}</p>
        <small>{{item.created_at}}</small>

      </div>
    </div>

  </div>
  <div class="col-md-6">s</div>
</div>


</div>
